[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = https://github.com/caolan/nodeunit.git
[submodule "deps/async"]
	path = deps/async
	url = https://github.com/caolan/async.git
[submodule "deps/express"]
	path = deps/express
	url = http://github.com/visionmedia/express.git
[submodule "deps/underscore"]
	path = deps/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "deps/node-xml"]
	path = deps/node-xml
	url = https://github.com/robrighter/node-xml
[submodule "deps/backbone"]
	path = deps/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "deps/alfred"]
	path = deps/alfred
	url = https://github.com/pgte/alfred.git
[submodule "deps/step"]
	path = deps/step
	url = https://github.com/creationix/step.git
[submodule "deps/carrier"]
	path = deps/carrier
	url = https://github.com/pgte/carrier.git
[submodule "deps/node-crc"]
	path = deps/node-crc
	url = https://github.com/alexgorbatchev/node-crc.git
